{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Habit Tracker</title>
    
    
    {% endblock %}
    </head>
    <body>
    <header class="page-header">
        <div class="container">
        <div class="notification has-background-info-dark has-text-white">
          <section>
          <h1><a href="/">Habit Tracker</a></h1>
          </section>
          <aside class="right">
          {% if user.is_authenticated %}
          <p class="">Hello, {{ user.username }}!</p>
          <a href="{% url 'auth_logout' %}" class="">Logout</a>
          {% else %}
          <a href="{% url 'auth_login' %}" class="">Login</a>
          {% endif %}
          </aside>
          <br>
          <br>
        </div>
        <br>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="col">
        {% block content %}
        {% endblock %}</div>
      </main>
    </body>
    </html>