{% extends "base.html" %}

{% block content %}

<h1 class="page_title">Habits</h1>
<a href="{% url 'add_habit' %}" class="top-menu">
      </svg>Add New Habit
</a>


{% for habit in habit %}
<div class="parent is-flex-wrap-wrap columns">
<div class="habit is-flex-wrap-wrap column is-half is-offset-one-quarter column">
        <header class="habit-header">
          <p class="habit-header-title">
           {{habit.name}} </a>
          </p>
        </header>
        <div class="habit-content">
          <div class="content">
            Habit created at:
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
        <footer class="habit-footer">
          <a href="{% url 'display_habit' pk=habit.pk %}">
              </svg> Display</a>
          <a href="{% url 'delete_habit' pk=habit.pk %}">
              </svg>Delete</a>
        </footer>
</div>
</div>
{% endfor %}

{% endblock %}